<!doctype html>

<html>
<head>
	<title>{{serverName}} - Sauerbraten (Cube 2) Server</title>
	
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="/components/webcomponentsjs/webcomponents-lite.min.js"></script>
</head>

<body unresolved>
	{{{body}}}
</body>
</html>