<!doctype html>
<!--
   sauerbraten-monitor, a web monitor for a Sauerbraten server,
   built with Polymer and Node.js.
   Copyright (C) 2016  Kevin Boxhoorn

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<html>
<head>
	<meta charset="utf-8">
	{{#if serverName}}
	<title>{{serverName}} | Sauerbraten (Cube 2) Server</title>
	{{else}}
	<title>Sauerbraten (Cube 2) Server</title>
	{{/if}}
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#662222">

	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
	<link rel="import" href="/elements/imports.html">
	<link rel="import" href="/styles/app-theme.html">
	<link rel="import" href="/styles/theme.html">
	<style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning"></style>

	<link rel="icon" href="/favicon.ico">
	<link rel="manifest" href="/manifest.json">
</head>

<body class="fullbleed layout vertical" unresolved>
{{> tagmanager}}
{{{body}}}
</body>
</html>
